.abcd{
    padding-left: 15%;
}
.tittle{
    padding-right: 40px;
    background-color: white;
}
.aaa h1{
    text-align: center;
    font-size: 2rem;
    color:  rgb(39,37,37);
}
.ddd{
    background-color: rgb(100 99 99);
    color: white;
    width: 140px;
    height: 40px;
}
.eee{
    color: rgb(107 114 128);
    padding-bottom: 100px;
}