.abcd{
    padding-left: 15%;
}
.one h1{
    text-align: center;
    padding-top: 110px;
    font-size:3.75rem;
    line-height: 1;
    font-family: Inter,Helvetica Neue, Helvetica,Arial, sans-serif;
    letter-spacing: -.05em;
    font-weight: 500;

}
.one span{
    color: rgb(169 121 43);
}
.two h1{
    
    text-align: center;
    font-size: 3.75rem;
    line-height: 1;
    font-family: Inter,Helvetica Neue, Helvetica,Arial, sans-serif;
    letter-spacing: -.05em;
    font-weight: 500;

}
.three h1{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(51, 48, 48);
}
.six h1{
    text-align: center;
    font-size: 2.15rem;
    line-height: 1.75rem;


}
.six h2{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;

}


.eight h1{
    text-align: center;

    
    
}
.imm img{
    width: 10rem;
    height: 10rem;
    margin: auto;
    padding: auto;
    background-color: white;
    transition: .5s;
    
}
.imm img{
    width: 70%;
    margin: 15px 0px;
}
